<!-- <iframe id="player" width="640" height="360" [src]='url | safe'></iframe> -->
<!-- <span *ngFor="let word of text" [class.currentWord]="curWord == word">{{word}} </span> -->
<div id="responsive">
    <div id="player"></div>
</div>

<div class="text">
    <!-- <span id="span">{{ txt[curTimeEx]?.word }}</span> -->
    <ul id="text">
        <li class="string">I've been reading books of old</li>
        <li class="string">The legends and the myths</li>
        <li class="string">Achilles and his gold</li>
        <li class="string">Hercules and his gifts</li>
        <li class="string">Spiderman's control</li>
        <li class="string">And Batman with his fists</li>
        <li class="string">And clearly I don't see myself upon that list</li>
    </ul>
</div>